.divMain {
  margin: auto;
  width: 500px;
  height: 2000px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.divOne {
  border: 1px solid black;
}
.divTwo {
  border: 1px solid black;
}
.divThree {
  border: 1px solid black;
}
.divFour {
  border: 1px solid black;
}
.divFive {
  border: 1px solid black;
}
.divSix {
  border: 1px solid black;
}
#buttonMain {
  position: fixed;
  width: 10%;
  margin: -1900px 0 0 0;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}
.delleteThisClass {
  opacity: 0;
}

h3 {
  margin: 0 0 0 100px;
  font-size: 30px;
}
